{% extends 'base.html.twig' %}

{% block title %}Reservation details{% endblock %}

    {% block main %}
        <style>
            .page-container{
                display: flex;
                justify-content: center;
                margin-top: 50px;
            }
            .accepting-info{
                margin-top: 40px;
            }
        </style>

        <div class="page-container">
            <div class="content">
                <div class="main-info">
                    <h3>{{ currentReservation.serviceName }}</h3>
                    <p>Price: {{ currentReservation.servicePrice }} PLN</p>
                </div>
                <div class="reservation-info">
                    <p>Address: {{ currentReservation.stylistWork.stylist.category.salon.adress }}</p>
                    <p>Date: {{ currentReservation.day|date('d-m-Y') }} from: {{ currentReservation.startTime }}:00 to: {{ currentReservation.endTime }}:00</p>
                    <p>Stylist name: {{ currentReservation.stylistWork.stylist.name }}</p>
                </div>
                <div class="accepting-info">
                    <h2>Reservation accepted</h2>
                    <p>Check confirmation on your email. </p>
                    <a href="{{ path('app_salon_choose') }}" class="btn btn-primary">Go to salons</a>
                </div>
            </div>
        </div>
    {% endblock %}

