{% extends 'base.html.twig' %}

{% block title %}Stylist index{% endblock %}

{% block body %}
    <style>
        .page-container{
            margin-top: 4vh;
        }

        .title{
            display: flex;
            justify-content: center;
        }

        .btn-create-container{
            display: flex;
            justify-content: center;
        }
    </style>

    <div class="page-container">
            <h1 class="title">Stylist index</h1>
        <div class="btn-create-container">
           <div>
               <a href="{{ path('app_stylist_crud_new', {salonId: salonId}) }}" role="button" class="btn btn-primary">Create new</a>
           </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Service</th>
                <th>Instagram account</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stylist in stylists %}
                <tr>
                    <td>{{ stylist.name }}</td>
                    <td>{{ stylist.category.name }}</td>
                    <td>{{ stylist.instagramAccount }}</td>
                    <td>
                        <a href="{{ path('app_stylist_crud_show', {'id': stylist.id}) }}" role="button" class="btn btn-secondary">show</a>
{#                        <a href="{{ path('app_stylist_crud_edit', {'id': stylist.id}) }}" role="button" class="btn btn-secondary">edit</a>#}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
