{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <style>
        .button-container{
            display: flex;

        }

        .page-container{
            display: flex;
            justify-content: center;
            margin-top: 4vh;
        }

        .title{
            display: flex;
            justify-content: center;
        }

        .btn{
            margin-right: 2vh;
        }
    </style>
    <div class="page-container">
       <div class="content">
           <h1 class="title">Edit Service</h1>
           <div class="button-container">
               {{ form_start(form) }}
               <div class="container" style="width: 500px">
                   {{ form_widget(form) }}
                   <div class="button-container">
                       <button class="btn btn-primary" onclick="return confirm('Service will be edited');">{{ button_label|default('Save') }}</button>
                       <a class="btn btn-secondary" href="{{ path('app_service_crud_index', {'id': salonId}) }}">back to list</a>
                   </div>
               </div>
               {{ form_end(form) }}
           </div>
       </div>
    </div>
{% endblock %}
