{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block main %}
    <style>
        .alert-container{
            display: flex;
            justify-content: center;
        }

        .alert{
            width: 500px;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="h3 mb-3 mt-5 font-weight-normal text-center">Log into your account</h2>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="alert-container">
                    {% for flashMessage in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
                <form action="{{ path('app_login') }}" method="post" class="needs-validation">
                    <div class="form-group">
                        <input type="text" id="username" name="_username" placeholder="Email"
                               class="form-control rounded-10 mb-3" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" placeholder="Password"
                               class="form-control rounded-10 mb-3" required>
                    </div>
                            {# If you want to control the URL the user is redirected to on success#}
                    <input type="hidden" name="_target_path" value="{{ path('app_salon_choose') }}">
                    <div class="">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}






