{% extends 'base.html.twig' %}

{% block main %}
    <style>
        .page-container{
            display: flex;
            justify-content: center;
        }
        .content{
            margin-top: 50px;
        }
       .btn-secondary{
           width: 300px;
       }
    </style>
    <div class="page-container">
        <div class="content">
            <h2>Choose Available Time</h2>
            <p>Selected Date: {{ selectedDate }}</p>
            <p>Selected Stylist: {{ selectedServiceStylist.stylist.name }}</p>
            {% set hours = selectedServiceTimeInMinutes // 60 %}
            {% set minutes = selectedServiceTimeInMinutes % 60 %}
            <p>Service duration: {{ hours }}h:{{ minutes }}min</p>
            <h3>Available Hours:</h3>
            <ul style="list-style-type: none;">
                {% for hour in availableHours %}
                    {% set selectedAttributes = {
                        'selectedDate': selectedDate ~ ' ' ~ hour ~ ':00' ,
                        'selectedServiceWorkId': selectedServiceWorkId
                    } %}
                    <li class="free-hour">
                        <a href="{{ path('app_reserve', selectedAttributes) }}" class="free-hour">
                            <p class="btn btn-secondary">from {{ hour }}:00 to {{ (hour * 60 + selectedServiceTimeInMinutes) // 60 }}:{{ (hour * 60 + selectedServiceTimeInMinutes) % 60 }} </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


