{% extends 'base.html.twig' %}

{% block title %}Stylist Works{% endblock %}

{% block main %}
<style>
        .page-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .service-container {
                width: 600px;
                margin: 20px auto;
                /*auto - додає автоматичний відступ по горизонталі, розміщуючи контейнер в центрі сторінки.*/
                display: grid;
                grid-template-columns: 1fr 200px;
                align-items: center;
                gap: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 15px;
                box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .service-name {
                text-align: left;
        }

        .service-price {
                text-align: right;
        }
        .grow:hover {
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition-duration: 1s;
        }
        .service-image{
            border-radius: 30px;
            box-shadow: 2px 4px 24px -6px rgba(17, 17, 99, 1);
        }
</style>
    <div {{ vue_component('StylistWorkComponent', { 'servicesArray': servicesArray, 'stylistName': stylistName }) }}></div>
{#    <div class="page-container">#}
{#        <div class="service-data">#}
{#             hide element#}
{#            <div class="datepicker-container">#}
{#                <h3>Choose a reservation date</h3>#}
{#                <p>Date: <input type="text" id="datepicker"></p>#}
{#            </div>#}
{#            <h2>Examples of {{ stylists[0].getName() }}`s works</h2>#}
{#            {% if services[0].getPhoto() %}#}
{#                <div class="service-photo-container">#}
{#                    <img src="{{ asset(services[0].getPhoto()) }}" class="d-block service-image" style="height: 250px; width: 600px" alt="{{ services[0].getServiceName() }}" />#}
{#                </div>#}
{#                <div class="service-navigation">#}
{#                    <button class="btn btn-secondary" onclick="prevService()">Previous</button>#}
{#                    <button class="btn btn-secondary" style="float: right" onclick="nextService()">Next</button>#}
{#                </div>#}
{#            {% endif %}#}
{#            {% for service in services %}#}
{#                <div class="service-container"#}
{#                     onmouseover="addAnimation(this)"#}
{#                     onmouseout="removeAnimation(this)">#}
{#                    <div class="service-name">#}
{#                        <h3>{{ service.getServiceName() }}</h3>#}
{#                        <p> duration: {{ service.getTime() }} minutes</p>#}
{#                    </div>#}
{#                    <div class="service-price">#}
{#                        <h5>from {{ service.getPrice() }} PLN</h5>#}
{#                        <a href="#" class="btn btn-primary select-service"#}
{#                           data-service-name="{{ service.getServiceName() }}"#}
{#                           data-service-price="{{ service.getPrice() }}"#}
{#                           data-service-time="{{ service.getTime() }}"#}
{#                           data-service-work-id="{{ service.getId() }}"#}
{#                           data-stylist-id="{{ stylists[0].getId() }}">Choose</a>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>#}
{#    <script>#}
{#            const services = [#}
{#                {% for service in services %}#}
{#                {#}
{#                    photo: "{{ asset(service.getPhoto()) }}",#}
{#                },#}
{#                {% endfor %}#}
{#            ];#}

{#            let currentServiceIndex = 0;#}

{#            function prevService() {#}
{#                currentServiceIndex = (currentServiceIndex - 1 + services.length) % services.length;#}
{#                updateServiceData();#}
{#            }#}

{#            function nextService() {#}
{#                currentServiceIndex = (currentServiceIndex + 1) % services.length;#}
{#                updateServiceData();#}
{#            }#}

{#            function updateServiceData() {#}
{#                const photoElement = document.querySelector('.service-image');#}
{#                photoElement.src = services[currentServiceIndex].photo;#}
{#            }#}

{#            function addAnimation(element) {#}
{#                element.classList.add('grow');#}
{#            }#}

{#            function removeAnimation(element) {#}
{#                element.classList.remove('grow');#}
{#             }#}

{#             //for select-service button#}
{#            let selectButtonElements = document.querySelectorAll('.select-service');#}
{#            let datepickerContainer = document.querySelector('.datepicker-container');#}
{#            let selectedServiceName = null;#}
{#            let selectedServicePrice = null;#}
{#            let selectedServiceTime = null;#}
{#            let selectedServiceWorkId = null;#}
{#            let selectedServiceStylistId =null;#}

{#            // Пройтися циклом по всіх елементах і додати обробник події#}
{#            selectButtonElements.forEach((element) => {#}
{#                element.addEventListener('click', (event) => {#}
{#                    selectedServiceName = element.getAttribute('data-service-name');#}
{#                    selectedServicePrice = element.getAttribute('data-service-price');#}
{#                    selectedServiceTime = element.getAttribute('data-service-time');#}
{#                    selectedServiceWorkId = element.getAttribute('data-service-work-id');#}
{#                    selectedServiceStylistId = element.getAttribute('data-stylist-id');#}
{#                    datepickerContainer.classList.add('active');#}
{#                });#}
{#            });#}

{#             // datepicker#}
{#            $(function() {#}
{#                let datepicker = $("#datepicker").datepicker({#}
{#                    minDate: 0,#}
{#                    maxDate: "+21D",#}
{#                    beforeShowDay: function(date) {#}
{#                        // get day of the week (0 - неділя, 1 - понеділок, ..., 6 - субота)#}
{#                        let dayOfWeek = date.getDay();#}

{#                        // block Sunday#}
{#                        if (dayOfWeek === 0) {#}
{#                            return [false, ""];#}
{#                        }#}

{#                        return [true, ""];#}
{#                    },#}
{#                    onSelect: function(dateText) {#}
{#                        console.log(dateText);#}
{#                        // send data to app_date_checker#}
{#                            window.location.href = '{{ path("app_date_checker") }}' + '?selectedDate=' + dateText + '&selectedServiceName='#}
{#                                + selectedServiceName + '&selectedServicePrice=' + selectedServicePrice#}
{#                                + '&selectedServiceTime=' + selectedServiceTime + '&selectedServiceStylistId=' + selectedServiceStylistId#}
{#                                + '&selectedServiceWorkId=' + selectedServiceWorkId;#}
{#                    },#}
{#                });#}
{#            });#}
{#    </script>#}

{% endblock %}
