{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block main %}
    <style>
    .page-container{
        display: flex;
        justify-content: center;
        margin-top: 5vh;
    }
    .content{
        width: 80vw;
    }

    .header{
        text-align: center;
    }

    a{
        text-decoration: none;
    }

    .btn-details{
        margin-left: 2%;
    }

    .without-reservations-container{
        display: flex;
        justify-content: center;
    }

    .btn-go-to-salons-container{
        display: flex;
        justify-content: center;
    }

    .table-small-device{
        display: none;
    }

    .table-info-container{
        display: flex;
        flex-direction: column;
    }

    .element-info{
        display: flex;
        justify-content: space-between;
    }

    .btn-container{
        display: flex;
        justify-content: space-between;
    }

    .btn-cancel{
        margin-right: 8px;
    }

    @media(max-width: 534px){
        .table{
            display: none;
        }

        .table-small-device{
            margin-top: 18px;
            display: block;
        }
    }
    </style>

    <div class="page-container">
        <div class="content">
            <div class="header">
                <h2>Your reservations</h2>
                {% for message in app.flashes('primary') %}
                    <div class="alert alert-primary">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

                {% if userReservations|length == 0 %}
                     <div class="without-reservations-container">
                         <div class="without-reservations-info">
                             <p>You haven't made any reservations yet.</p>
                             <div class="btn-go-to-salons-container">
                                 <a role="button" class="btn btn-primary btn-go-to-salons" href="{{ path('app_choose_city') }}">Go to salons</a>
                             </div>
                         </div>
                     </div>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for reservation in userReservations %}
                                <tr>
                                    <td>{{ reservation.serviceName }}</td>
                                    <td>{{ reservation.day|date('d-m-Y') }}</td>
                                    <td>
                                        <a href="{{ path('app_reservation_delete', {'reservationId': reservation.id}) }}"
                                           role="button" class="btn btn-secondary"
                                           onclick="return confirm('Are you sure you want to delete this service?');">Cancel</a>
                                        <a href="{{ path('app_reservation_details', {'reservationId': reservation.id}) }}"
                                           role="button" class="btn btn-primary btn-details">Show details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="table-small-device">
                        <div class="table-info-container">
                            {% for reservation in userReservations %}
                                <div class="reservation-info">
                                    <div class="element-info">
                                            <div>Name:</div>
                                            <div>{{ reservation.serviceName }}</div>
                                    </div>

                                    <div class="element-info">
                                        <div>Date:</div>
                                        <div>{{ reservation.day|date('d-m-Y') }}</div>
                                    </div>

                                    <div class="element-info">
                                        <div>Actions:</div>
                                        <div class="btn-container">
                                            <a href="{{ path('app_reservation_delete', {'reservationId': reservation.id}) }}"
                                               role="button" class="btn btn-secondary btn-cancel"
                                               onclick="return confirm('Are you sure you want to delete this service?');">Cancel</a>
                                            <a href="{{ path('app_reservation_details', {'reservationId': reservation.id}) }}"
                                               role="button" class="btn btn-primary btn-details">Details</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}